<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body{ font-family: sans-serif; }
    </style>
  </head>
  <body>
    <form action="/" method="POST">
      <input type="text" name="todo" id="todos" placeholder="Add todo" />
      <input type="submit" />
    </form>

    <h1>Todos</h1>
    <ul>
      {{#each todos}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </body>
</html>